body {
    border: 4px rgb(44, 1, 1) dashed;

}

h1 {
    background-color: rgb(211, 163, 163);
    border-top: 6px rgb(44, 1, 1) double;
    border-bottom: 6px rgb(44, 1, 1) double;
    text-align: center;
}

button {
    background-color: rgb(211, 163, 163);
    border: none;
    border-radius: 10px;
    text-decoration: underline;
    padding: 5px;
    cursor: pointer;
}